/*----------------------------------------------*/
/* Space */
/*----------------------------------------------*/
$space-xs: 0.5rem; // 8px
$space-s: 1rem; // 16px
$space-m: 1.5rem; // 24px
$space-l: 2rem; // 32px
$space-xl: 2.5rem; // 40px
$space-2xl: 3rem; // 48px

/*----------------------------------------------*/
/* color */
/*----------------------------------------------*/
$color-nav-item-dark: #363636;
$color-nav-item-light: #f0e8df;
$color-bg-light: #F8F8F8;
$color-white: #FFFFFF;
$color-accent: #BBA085;
$color-gray-primary: #2D2D2D;
$color-gray-secondary: #414141;
$color-gray-tertiary: #4F4F4F;
$color-gray-muted: #555555;
$color-gray-soft: #5B5B5B;
$color-btn-text: #484848;
$color-warm: #E9E1D9;
$color-ornament: #B58B61;

/*----------------------------------------------*/
/* font-family */
/*----------------------------------------------*/
$ff-script-main: "Ephesis", cursive;
$ff-serif-main: "Cormorant Garamond", serif;
$ff-serif-sub: "Playfair Display SC", serif;
$ff-sans-sub: "Raleway", sans-serif;

/*----------------------------------------------*/
/* font-size */
/*----------------------------------------------*/
$fs-12: 0.75rem;
$fs-14: 0.875rem;
$fs-16: 1rem;
$fs-18: 1.125rem;
$fs-20: 1.25rem;
$fs-22: 1.375rem;
$fs-24: 1.5rem;
$fs-28: 1.75rem;
$fs-32: 2rem;
$fs-36: 2.25rem;
$fs-40: 2.5rem;
$fs-46: 2.875rem;
$fs-48: 3rem;
$fs-50: 3.125rem;
$fs-60: 3.75rem;
$fs-64: 4rem;
$fs-70: 4.375rem;
$fs-80: 5rem;
$fs-120: 7.5rem;
$fs-128: 8rem;
$fs-200: 12.5rem;

/*----------------------------------------------*/
/* font-weight */
/*----------------------------------------------*/
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;

/*----------------------------------------------*/
/* letter-spacing */
/*----------------------------------------------*/
$letter-spacing-base: 0.05em;
$letter-spacing-wide: 0.2em;

/*----------------------------------------------*/
/* line-height */
/*----------------------------------------------*/
$line-height-none: 1;
$line-height-tight: 1.22;
$line-height-base: 1.23;

/*----------------------------------------------*/
/* Breakpoint */
/*----------------------------------------------*/
$xxl: 1440px;
$xl: 1090px;
$lg: 992px;
$md: 768px;
$sm: 576px;

/*----------------------------------------------*/
/* max-width */
/*----------------------------------------------*/
$max-width-container: $xxl;