/*----------------------------------------------*/
/* Space */
/*----------------------------------------------*/
$space-xs: 0.5rem; // 8px
$space-s: 1rem; // 16px
$space-m: 1.5rem; // 24px
$space-l: 2rem; // 32px
$space-xl: 2.5rem; // 40px
$space-2xl: 3rem; // 48px

/*----------------------------------------------*/
/* color */
/*----------------------------------------------*/
$color-nav-item-dark: #363636;
$color-nav-item-light: #f0e8df;
$color-bg-light: #F8F8F8;
$color-white: #FFFFFF;
$color-accent: #BBA085;
$color-gray-primary: #2D2D2D;
$color-gray-secondary: #414141;
$color-gray-tertiary: #4F4F4F;
$color-gray-muted: #555555;
$color-gray-soft: #5B5B5B;
$color-btn-text: #484848;
$color-warm: #E9E1D9;
$color-ornament: #B58B61;

/*----------------------------------------------*/
/* font-family */
/*----------------------------------------------*/
$text-primary-family: "Ephesis", cursive;
$text-secondary-family: "Cormorant Garamond", serif;
$font-accent: "Raleway", sans-serif;
$font-accent-02: "Playfair Display SC", serif;

/*----------------------------------------------*/
/* font-size */
/*----------------------------------------------*/
$fs-16: 1rem; // 16px
$fs-18: 1.125rem; // 18px
$fs-20: 1.25rem; // 20px
$fs-28: 1.75rem; // 28px
$fs-40: 2.5rem; // 40px
$fs-50: 3.125rem; // 50px
$fs-64: 4rem; // 64px
$fs-80: 5rem; // 80px
$fs-96: 6rem; // 96px
$fs-120: 7.5rem; // 120px

/*----------------------------------------------*/
/* font-weight */
/*----------------------------------------------*/
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

/*----------------------------------------------*/
/* letter-spacing */
/*----------------------------------------------*/
$letter-spacing-base: 0.05em;
$letter-spacing-wide: 0.2em;

/*----------------------------------------------*/
/* line-height */
/*----------------------------------------------*/
$line-height-tight: 1.3;

// Media Queries
/*----------------------------------------------*/
/* Breakpoint */
/*----------------------------------------------*/
$xxl: 1440px;
$xl: 1090px;
$lg: 992px;
$md: 768px;
$sm: 576px;