@use "sass:color";
@use "_variables" as v;
@use "mixins" as m;

/*----------------------------------------------*/
/* Body */
/*----------------------------------------------*/
body {
    background-color: v.$color-white;
}

/*----------------------------------------------*/
/* Hero */
/*----------------------------------------------*/
header {
    width: 100%;
    min-height: max(200px, min(calc(100vw * 913 / 1440), 100vh));
    position: relative;
    background: url("../images/hero-image.jpg") center / cover no-repeat;
}

.p-gnav {
    min-height: 109px;
    padding: 0 114px 0 104px;
    background: color.change(#F5F5F5, $alpha: 0.8);

    @include m.mq-max(v.$xxl) {
        // 992px〜1440px
        padding-right: clamp(38px, 3.83vw, 114px);
        padding-left: clamp(34.6px, 3.494vw, 104px);
    }

    @include m.mq-max(v.$lg) {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 30%;
        height: 100vh;
    }

    &.is-open {
        display: block;
    }

    .p-gnav__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        @include m.mq-min(v.$xxl) {

            justify-content: space-around;
        }

        @include m.mq-max(v.$lg) {
            flex-direction: column;
        }
    }
}

.p-gnav__left-items {
    display: flex;
    gap: 67px;

    @include m.mq-min(v.$xxl) {
        // 1440px〜2560px
        gap: clamp(67px, 4.7vw, 120px);
    }

    @include m.mq-max(v.$xxl) {
        // 992px〜1440px
        gap: clamp(30px, -3.246rem + 8.259vw, 67px)
    }

    @include m.mq-max(v.$lg) {
        flex-direction: column;
    }
}

.p-logo {
    flex-shrink: 0;
    margin: 8px 0px 0 30px;

    .p-logo__img {
        height: 101px;
        width: 279px;
    }
}

.p-gnav__right-items {
    display: flex;
    justify-content: flex-end;
    gap: 54px;

    @include m.mq-min(v.$xxl) {
        // 1440px〜2560px
        gap: clamp(67px, 4.7vw, 120px);
    }

    @include m.mq-max(v.$xxl) {
        // 992px〜1440px
        gap: clamp(1.625rem, -2.25rem + 6.25vw, 3.375rem);
    }

    @include m.mq-max(v.$lg) {
        flex-direction: column;
    }
}

.p-gnav__item {
    padding: 0 0px 8px 0;
    color: #363636;
    font-family: v.$font-accent-02;
    font-size: 1.375rem;
    font-weight: v.$fw-regular;
    letter-spacing: v.$letter-spacing-base;

    @include m.mq-max(v.$xxl) {
        // 992px〜1440px 
        font-size: clamp(18px, 1.814vw, 22px);
    }
}

.p-gnav__h-menu-box {
    display: none;

    @include m.mq-max(v.$lg) {
        display: block;
        position: fixed;
        top: 2%;
        right: 7%;
        z-index: 100;
    }

    .p-gnav__h-menu {
        width: 35px;
        height: 35px;
        stroke: #363636;
        stroke-width: 1;
    }
}

.hero__titles {
    position: absolute;
    top: 49.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-align: center;

    .hero__catch {
        color: v.$text-accent;
        font-family: v.$text-primary-family;
        font-size: v.$fs-64;
        font-weight: v.$fw-regular;
        text-indent: v.$letter-spacing-base-offset;
        letter-spacing: v.$letter-spacing-base;
        -webkit-text-stroke: 1.5px v.$text-accent;
        paint-order: stroke fill;

        @include m.mq-min(v.$xxl) {
            // 1440px〜2560px
            font-size: clamp(4rem, 2.714rem + 1.429vw, 5rem);
        }

        @include m.mq-max(v.$xxl) {
            // 320px〜1440px
            font-size: clamp(1.25rem, 0.464rem + 3.929vw, 4rem);
        }

        @include m.mq-max(v.$sm) {
            -webkit-text-stroke-width: 1px;
        }
    }

    .hero__title {
        color: v.$color-white;
        font-family: v.$text-secondary-family;
        font-size: v.$fs-80;
        font-weight: v.$fw-semibold;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        transform: translateY(5px);

        @include m.mq-min(v.$xxl) {
            // 1440px〜2560px
            font-size: clamp(v.$fs-80, 3.75vw, v.$fs-96);
        }

        @include m.mq-max(v.$xxl) {
            // 320px〜1440px
            font-size: clamp(1.5rem, 0.5rem + 5vw, 5rem);
        }
    }
}

/*----------------------------------------------*/
/* Concept Message 01 */
/*----------------------------------------------*/
.concept-message {
    padding: 100px 0;
    background-color: #F4F4F4;

    @include m.mq-max(v.$xxl) {
        // 320px〜1440px
        padding-block: clamp(1.375rem, -0.018rem + 6.964vw, 6.25rem);
    }

    .concept-message__content-box {
        text-align: center;

        .concept-message__img {
            display: inline-block;
            margin-bottom: v.$space-m;

            @include m.mq-min(v.$xxl) {
                // 1440px〜2560px
                width: clamp(4.438rem, 2.83rem + 1.786vw, 5.688rem);
                height: auto;
            }

            @include m.mq-max(v.$xxl) {
                // 320px〜1440px
                width: clamp(2.563rem, 2.027rem + 2.679vw, 4.438rem);
            }
        }

        .concept-message__catch {
            margin-bottom: v.$space-l;
            color: v.$text-accent;
            font-family: v.$font-accent;
            font-size: v.$fs-28;
            font-weight: v.$fw-medium;
            text-indent: v.$letter-spacing-wide-offset;
            letter-spacing: v.$letter-spacing-wide;

            @include m.mq-min(v.$xxl) {
                // 1440px〜2560px
                font-size: clamp(v.$fs-28, 1.107rem + 0.714vw, 2.25rem);
            }

            @include m.mq-max(v.$xxl) {
                // 320px〜1440px

            }
        }

        .concept-message__title {
            margin-bottom: v.$space-m;
            color: v.$color-gray-dark;
            font-family: v.$text-secondary-family;
            font-size: v.$fs-64;
            font-weight: v.$fw-regular;
            line-height: 1.2;

            @include m.mq-min(v.$xxl) {
                // 1440px〜2560px
                font-size: clamp(v.$fs-64, 3.357rem + 0.714vw, 72px);
            }

            @include m.mq-max(v.$xxl) {
                // 320px〜1440px

            }
        }
    }
}

/*----------------------------------------------*/
/* About */
/*----------------------------------------------*/
.about-wrapper {
    display: flex;
    align-items: stretch;
    // justify-content: space-between;
    width: 100%;
    height: 858px;
    max-height: 858px;

    .about__img-wrapper {
        width: 692px;
        height: 100%;
        overflow: hidden;

        .about__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    .about__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        padding: 67px 30px 0px 0px;

        .about__content-top {
            flex: 1;
            text-align: center;
        }

        .about_decoration-01 {
            display: inline-block;
            margin: 0 0 40px 30px;
        }

        .about__title {
            margin-bottom: 23px;
            color: #4A4A4A;
            font-family: v.$text-secondary-family;
            font-size: 48px;
            font-weight: v.$fw-regular;
        }

        .about__text-group {
            color: v.$color-contents;
            font-family: v.$text-secondary-family;
            font-size: 28px;
            font-weight: v.$fw-regular;

            .about__text-group-01 {
                margin-bottom: 33px;
                line-height: 1.23;
            }

            .about__text-group-02 {
                margin-bottom: 44px;
                line-height: 1.22;
            }
        }

        .about_decoration-02 {
            display: inline-block;
            margin-bottom: 42px;
        }

        .about__signature {
            color: #545454;
            font-family: v.$text-primary-family;
            font-size: 3.75rem;
            font-weight: v.$fw-regular;
            letter-spacing: v.$letter-spacing-base;
        }

        .about__btn {
            margin-left: 10px;
            padding: 11px 41px 13px;
            @include m.btn-style;
        }

    }
}

/*----------------------------------------------*/
/* Services */
/*----------------------------------------------*/
.services {
    padding: 170px 0 183px;

    .services__header {
        margin: 0 auto 54px;
        text-align: center;

        .services__sub-title {
            margin-bottom: 5px;
            color: v.$text-accent;
            font-family: v.$font-accent;
            font-size: v.$fs-28;
            font-weight: v.$fw-medium;
            text-indent: v.$letter-spacing-wide-offset;
            letter-spacing: v.$letter-spacing-wide;
        }

        .services__main-title {
            margin: 0;
            color: v.$card-text-color;
            font-family: v.$text-secondary-family;
            font-size: v.$fs-64;
            font-weight: v.$fw-regular;
            text-indent: v.$letter-spacing-base-offset;
            letter-spacing: v.$letter-spacing-base;
            line-height: v.$line-height-tight;
        }
    }

    .services__cards {
        display: flex;
        justify-content: center;
        gap: 66px;

        @include m.mq-max(v.$xxl) {
            flex-wrap: wrap;
        }

        .service-card__decoration {
            margin-left: 15px;
        }

        .service-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 370px;
            height: 551px;
            max-width: 370px;
            max-height: 551px;
            padding: 42px 40px;
            background-color: v.$card-bg-color;
            text-align: center;

            &:first-child {
                .service-card__title {
                    margin: 0 0 36px;
                    transform: translateY(-4px);
                }

                .service-card__price {
                    font-size: v.$fs-50;
                }

                .service-card__btn {
                    margin-top: 14.5px;
                }
            }

            &:nth-child(2) {
                .service-card__title {
                    transform: translateY(13px);
                }

                .service-card__price {
                    font-size: 48px;
                }
            }

            &:nth-child(3) {
                .service-card__decoration {
                    margin-left: 30px;
                }

                .service-card__title {
                    margin-bottom: 42px;
                    transform: translateY(4px);
                }

                .service-card__price {
                    font-size: 48px;
                }
            }
        }

        .service-card__title {
            margin: 0 0 40px;
            color: v.$card-text-color;
            font-family: v.$text-primary-family;
            font-size: 60px;
            font-weight: v.$fw-regular;
            text-indent: v.$letter-spacing-base-offset;
            letter-spacing: v.$letter-spacing-base;
        }

        .service-card__price-wrapper {
            margin-bottom: v.$space-l;
            font-family: v.$text-secondary-family;
            line-height: 1.05;
        }

        .service-card__label {
            color: v.$card-text-color;
            font-size: 24px;
            font-weight: v.$fw-regular;
            letter-spacing: v.$letter-spacing-base;
        }

        .service-card__price {
            margin: 0;
            color: v.$card-text-color;
            font-weight: v.$fw-light;
            text-indent: v.$letter-spacing-base-offset;
            letter-spacing: v.$letter-spacing-base;
        }

        .service-card__btn {
            margin-top: v.$space-s;
            padding: 12px 36px;
            @include m.btn-style;
        }
    }
}

/*----------------------------------------------*/
/* Concept Message 02 */
/*----------------------------------------------*/
.concept-message-02 {
    background-color: v.$card-bg-color;

    .concept-message-02__container {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 0px;
        align-items: center;
        position: relative;

        .concept-message-02__image-wrapper {
            overflow: hidden;

            .concept-message-02__img {
                width: 100%;
                height: auto;
            }
        }

        .concept-message-02__content-box {
            position: absolute;
            right: 9.8%;
            top: 50%;
            transform: translateY(-50%);
            width: 440px;
            max-width: 440px;
            height: 591px;
            max-height: 591px;
            background: rgba(v.$color-white, 0.9);
            outline: 0.4px solid rgba(#B58B61, 0.6);
            outline-offset: -12px;
            text-align: center;

            .concept-message-02__box {
                width: 100%;
            }

            .concept-message-02__decoration {
                margin: 38px auto v.$space-m;
                padding-left: 30px;
            }

            .concept-message-02__title {
                margin: 0 0 25.5px;
                padding-left: 0.065em;
                color: #686868;
                font-family: v.$text-primary-family;
                font-size: v.$fs-50;
                font-weight: v.$fw-regular;
                letter-spacing: v.$letter-spacing-base;
                line-height: 1.31;
                white-space: nowrap;
            }

            .concept-message-02__text {
                padding-left: 0.1em;
                color: v.$card-text-color-02;
                font-family: v.$text-secondary-family;
                font-size: v.$fs-28;
                font-weight: v.$fw-light;
                line-height: 1.2;
            }
        }
    }
}

/*----------------------------------------------*/
/* Portfolio */
/*----------------------------------------------*/
.portfolio {
    padding: 104px 0 53px;

    @include m.mq-max(v.$lg) {
        padding-inline: 30px;
    }

    .portfolio__header {
        margin: 0 auto 58px;
        text-align: center;

        .portfolio__sub-title {
            margin-bottom: v.$space-xs;
            color: v.$text-accent;
            font-family: v.$font-accent;
            font-size: v.$fs-28;
            font-weight: v.$fw-medium;
            text-indent: 0.74em;
            letter-spacing: v.$letter-spacing-wide;
        }

        .portfolio__main-title {
            margin: 0;
            color: v.$card-text-color;
            font-family: v.$text-secondary-family;
            font-size: v.$fs-64;
            font-weight: v.$fw-regular;
            text-indent: 0.33em;
            letter-spacing: v.$letter-spacing-base;
            line-height: 1.1;
        }
    }

    .portfolio__content-wrapper {
        display: flex;
        max-width: 1440px;
        margin: 0 auto;

        @include m.mq-min(v.$xxl) {
            justify-content: center;
        }

        @include m.mq-max(v.$xxl) {
            flex-wrap: wrap;
            justify-content: center;
        }

        .portfolio__text-box {
            align-self: flex-end;
            width: 562px;
            height: 323px;
            max-height: 323px;
            padding: 0px 45px 70px 106px;
            text-align: left;
            background-color: v.$card-bg-color;
            white-space: nowrap;

            @include m.mq-max(v.$xxl) {
                width: 100%;
            }

            @include m.mq-max(v.$md) {
                padding: 0px 22.5px 35px 53px;
            }

            .portfolio__number {
                display: inline-block;
                margin: 0 0 23px;
                color: #B58B61;
                font-family: "Cormorant", serif;
                font-size: v.$fs-120;
                font-weight: v.$fw-semibold;
                letter-spacing: v.$letter-spacing-base;
                line-height: 0.5;
            }

            .portfolio__story-title {
                margin: 0 0 0px;
                color: v.$color-gray;
                font-family: v.$text-primary-family;
                font-size: 46px;
                font-weight: v.$fw-regular;
                letter-spacing: v.$letter-spacing-base;

                @include m.mq-max(v.$sm) {
                    font-size: clamp(2.5rem, 2.031rem + 2.344vw, 2.875rem);
                }
            }

            .portfolio__description {
                margin: 0;
                color: v.$color-contents;
                font-family: v.$text-secondary-family;
                font-size: v.$fs-28;
                font-weight: v.$fw-light;
                line-height: 1.22;

                @include m.mq-max(v.$sm) {
                    font-size: clamp(1.25rem, 1.107rem + 0.714vw, 1.75rem);
                }

                .portfolio__br--block-sp {
                    display: none;

                    @include m.mq-max(v.$sm) {
                        display: block;
                    }
                }
            }
        }

        .portfolio__images {
            justify-content: center;
            display: flex;
            gap: 37px;
            object-fit: cover;

            @include m.mq-max(v.$lg) {
                flex-wrap: wrap;
            }

            .portfolio__img {

                &:first-child {
                    width: 394px;
                    height: 470px;
                }

                &:last-child {
                    margin-right: 72px;
                    width: 373px;
                    height: 470px;

                    @include m.mq-max(v.$xxl) {
                        margin-right: 0px;
                    }
                }

                &:first-child,
                &:last-child {
                    @include m.mq-max(v.$lg) {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }

    .portfolio__btn-wrapper {
        margin: 59px 72px 0 0;
        text-align: right;

        .portfolio__btn {
            display: inline-block;
            @include m.btn-style;
            padding: 12px 28px 12px 26px;
            border: none;
            color: v.$color-gray;
            font-weight: v.$fw-light;
            text-align: center;
            white-space: nowrap;
        }
    }
}

/*----------------------------------------------*/
/* Testimonials */
/*----------------------------------------------*/
.testimonials {
    background-color: v.$card-bg-color;

    .testimonials__title-container {
        margin: 0 auto;
        padding-bottom: v.$space-xs;
        background-color: v.$color-white;
        text-align: center;

        .testimonials__title {
            color: v.$color-gray;
            font-family: v.$text-primary-family;
            font-size: 70px;
            font-weight: v.$fw-regular;
            text-indent: 0.27em;
            letter-spacing: v.$letter-spacing-base;
        }
    }

    .testimonials__container {
        margin: 0 auto;
        padding: 78px 0px;
        background-color: v.$card-bg-color;
        text-align: center;

        .testimonials__content {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            height: 450px;

            .testimonials__arrow {
                width: 39px;
                height: 57px;
                margin-right: v.$space-m;
                margin-bottom: v.$space-m;
                background-color: v.$btn-bg-color;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.3s ease;

                @include m.hover-device {
                    background-color: #E0D9D3;
                }

                &.testimonials__arrow--prev {
                    margin-left: 10px;
                }
            }

            .testimonials__card {
                flex: 1;
                display: flex;
                flex-direction: column;
                position: relative;
                max-width: 450px;
                width: 100%;
                height: 100%;
                margin-right: 47px;
                padding: 163px 20px 0 25px;
                background-color: v.$color-white;
                box-shadow: inset 0 0 0 2px v.$btn-bg-color;
                text-align: center;

                .testimonials__quote {
                    position: absolute;
                    top: 57px;
                    left: 50.5%;
                    transform: translateX(-50%);
                    color: v.$btn-bg-color;
                    font-family: "Forum", serif;
                    font-size: 200px;
                    font-weight: v.$fw-regular;
                    -webkit-text-stroke: 3.2px v.$btn-bg-color;
                    paint-order: stroke fill;
                    line-height: 1;
                }

                .testimonials__message {
                    margin-bottom: 74px;
                    color: v.$color-gray-dark;
                    font-family: v.$text-secondary-family;
                    font-size: v.$fs-28;
                    font-weight: v.$fw-regular;
                    line-height: 1.23;
                }

                .testimonials__name {
                    margin: 0;
                    color: v.$card-text-color-02;
                    font-family: v.$text-secondary-family;
                    font-size: v.$fs-28;
                    font-weight: v.$fw-light;
                    text-transform: uppercase;
                }
            }

            .testimonials__image-wrapper {
                flex: 1;
                max-width: 450px;
                width: 100%;
                height: 100%;
                margin-right: 25px;
                overflow: hidden;

                .testimonials__image {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

/*----------------------------------------------*/
/* Achievements */
/*----------------------------------------------*/
.stats {
    background-color: v.$color-white;
    padding: 100px 0 65px;

    .stats__container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 25px;
        text-align: center;

        .stats__lead {
            margin: 0 26px v.$space-xl 0;
            color: #000000;
            font-family: v.$text-secondary-family;
            font-size: v.$fs-40;
            font-weight: v.$fw-regular;
            letter-spacing: v.$letter-spacing-base;
            line-height: 1.2;
        }

        .stats__list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 30px;

            @include m.mq-max(v.$lg) {
                flex-wrap: wrap;
            }
        }

        .stats__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;

            &:nth-child(2) {
                .stats__label {
                    transform: translateX(4px);
                }
            }
        }

        .stats__number {
            display: block;
            color: v.$text-accent;
            font-family: v.$font-accent-02;
            font-size: 128px;
            font-weight: v.$fw-regular;
            letter-spacing: v.$letter-spacing-base;
            line-height: 1;

            .stats__number--small {
                font-size: v.$fs-96;
            }

            &.stats__number--offset {
                transform: translate(4.5px, 10px);
            }
        }

        .stats__label {
            margin: 0;
            color: #535353;
            font-family: v.$text-primary-family;
            font-size: v.$fs-40;
            font-weight: v.$fw-regular;
            line-height: 1.25;
            white-space: nowrap;
            transform: translateX(-2px);
        }
    }
}

/*----------------------------------------------*/
/* Contact */
/*----------------------------------------------*/
.contact {
    background-color: v.$color-white;
    padding: 65px 0 109px;
}

.contact__container {
    display: flex;
    width: 1260px;
    height: 815px;
    margin: 0 98px 0 auto;

    @include m.mq-min(v.$xxl) {
        margin: 0 auto;
    }

    @include m.mq-max(v.$xxl) {
        margin: 0 auto;
        height: auto;
        width: 100%;
    }

    .contact__form {
        flex: 0 0 655px;
        padding: 70px 60px;
        display: flex;
        flex-direction: column;
        background-color: v.$card-bg-color;

        @include m.mq-max(v.$xxl) {
            flex: 1;
            width: 100%;
            padding: 60px 40px;
        }

        .contact__subtitle {
            margin-bottom: 0px;
            color: v.$text-accent;
            font-family: v.$font-accent;
            font-size: v.$fs-28;
            font-weight: v.$fw-medium;
            letter-spacing: v.$letter-spacing-wide;
        }

        .contact__title {
            margin-bottom: 102px;
            color: v.$card-text-color;
            font-family: v.$text-secondary-family;
            font-size: v.$fs-64;
            font-weight: v.$fw-regular;
            letter-spacing: v.$letter-spacing-base;
            line-height: 1.35;
        }

        .contact__field {
            margin-bottom: 28px;

            &:nth-child(2) {
                margin-bottom: 39px;

                .contact__label {
                    margin-bottom: -15px;
                }
            }

            &:nth-child(3) {
                margin-bottom: v.$space-m;
            }
        }

        .contact__label {
            display: block;
            margin-bottom: -20px;
            color: v.$color-contents;
            font-family: v.$text-secondary-family;
            font-size: v.$fs-28;
            font-weight: v.$fw-light;
        }

        .contact__input,
        .contact__textarea {
            width: 100%;
            border: none;
            border-bottom: 1px solid #C6C6C6;
            background-color: transparent;
            outline: none;

            &:focus {
                border-bottom-color: v.$text-accent;
            }
        }

        .contact__textarea {
            resize: vertical;
            min-height: 124px;
        }

        .contact__button {
            @include m.btn-style;
            padding: v.$space-xs 66px;
            width: fit-content;
            cursor: pointer;
            border: none;
            color: #505050;
        }
    }

    .contact__image {
        flex: 1;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

/*----------------------------------------------*/
/* Footer */
/*----------------------------------------------*/
.footer__container {
    height: 398px;
    background-color: v.$card-bg-color;
    padding: 0px 0 60px;
    text-align: center;

    .p-gnav {
        padding: 0 108px 0 111px;

        @include m.mq-max(v.$xxl) {
            padding-right: clamp(36px, 3.629vw, 108px);
            padding-left: clamp(37px, 3.729vw, 111px);
        }
    }

    .p-gnav__container {
        margin-bottom: 33px;
    }

    .footer__description {
        margin: 0 auto 44px;
        max-width: 800px;

        .footer__description-body {
            margin: 0;
            color: v.$color-contents;
            font-family: v.$text-secondary-family;
            font-size: v.$fs-28;
            font-weight: v.$fw-light;
            line-height: 1.22;
        }
    }

    .footer__social-links {
        display: flex;
        justify-content: center;
        gap: 16.5px;
        margin-bottom: 24px;

        .footer__social-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            transition: opacity 0.3s ease;

            @include m.hover-device {
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    .footer__copyright {
        color: v.$color-contents;
        font-family: v.$text-secondary-family;
        font-size: v.$fs-20;
        font-weight: v.$fw-medium;
    }
}