@use "sass:color";
@use "_variables" as v;
@use "mixins" as m;

/*----------------------------------------------*/
/* Body */
/*----------------------------------------------*/
body {
    background-color: v.$main-bg-color;
}

/*----------------------------------------------*/
/* Hero */
/*----------------------------------------------*/
header {
    width: 100%;
    min-height: max(200px, min(calc(100vw * 913 / 1440), 100vh));
    position: relative;
    background: url("../images/hero-image.jpg") center / cover no-repeat;

    .p-gnav {
        min-height: 109px;
        padding: 0 114px 0 104px;
        background: color.change(#F5F5F5, $alpha: 0.8);
    }

    .p-gnav__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        width: 100%;
    }

    .p-gnav__left-items {
        display: flex;
        gap: 67px;

        @include m.mq-min(v.$xxl) {
            justify-content: space-evenly;
        }
    }

    .p-logo {
        margin: 8px 0px 0 30px;

        .p-logo__img {
            max-height: 101px;
            max-width: 279px;
        }
    }

    .p-gnav__right-items {
        display: flex;
        justify-content: flex-end;
        gap: 54px;

        @include m.mq-min(v.$xxl) {
            justify-content: space-evenly;
        }
    }

    .p-gnav__item {
        padding: 0 0px 8px 0;
        color: #363636;
        font-family: "Playfair Display SC", serif;
        font-size: 1.375rem;
        font-weight: v.$fw-regular;
        letter-spacing: v.$letter-spacing-base;
    }

    .hero-text {
        position: absolute;
        top: 49.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        text-align: center;

        h1 {
            margin-left: 3px;
            color: v.$text-primary;
            font-family: v.$text-primary-family;
            font-size: v.$fs-4xl;
            font-weight: v.$fw-regular;
            letter-spacing: v.$letter-spacing-base;
            -webkit-text-stroke: 1.5px v.$text-primary;
            paint-order: stroke fill;
        }

        p {
            color: v.$main-bg-color;
            font-family: v.$text-secondary-family;
            font-size: 80px;
            font-weight: v.$fw-semibold;
            text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
            transform: translateY(5px);
        }
    }
}

/*----------------------------------------------*/
/* Concept Message 01 */
/*----------------------------------------------*/
.concept-message-01 {
    padding: 100px 0;
    background-color: #F4F4F4;

    .concept-message-01__content-box {
        text-align: center;

        img {
            display: inline-block;
            margin-bottom: v.$space-m;
        }

        p {
            margin-bottom: v.$space-l;
            color: v.$text-primary;
            font-family: v.$font-accent;
            font-size: 1.75rem;
            font-weight: v.$fw-medium;
            letter-spacing: v.$letter-spacing-wide;
        }

        h2 {
            margin-bottom: v.$space-m;
            color: v.$text-secondary;
            font-family: v.$text-secondary-family;
            font-size: 4rem;
            font-weight: v.$fw-regular;
            line-height: 1.2;
        }
    }
}

/*----------------------------------------------*/
/* About */
/*----------------------------------------------*/
.about-wrapper {
    display: flex;
    align-items: stretch;
    // justify-content: space-between;
    width: 100%;
    height: 858px;
    max-height: 858px;

    .about__img-wrapper {
        width: 692px;
        height: 100%;
        overflow: hidden;

        .about__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    .about__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        padding: 70px 0px 0px 0px;

        .about__content-top {
            flex: 1;
            text-align: center;
        }

        .about_decoration-01 {
            display: inline-block;
            margin-bottom: 37px;
        }

        .about__title {
            margin-bottom: 23px;
            color: #4A4A4A;
            font-family: v.$text-secondary-family;
            font-size: 48px;
            font-weight: v.$fw-regular;
        }

        .about__text-group {
            color: #2D2D2D;
            font-family: v.$text-secondary-family;
            font-size: 28px;
            font-weight: v.$fw-regular;

            .about__text-group-01 {
                margin-bottom: 33px;
                line-height: 1.23;
            }

            .about__text-group-02 {
                margin-bottom: 44px;
                line-height: 1.22;
            }
        }

        .about_decoration-02 {
            display: inline-block;
            margin-bottom: 42px;
        }

        .about__signature {
            color: #545454;
            font-family: v.$text-primary-family;
            font-size: 3.75rem;
            font-weight: v.$fw-regular;
            letter-spacing: v.$letter-spacing-base;
        }

        .about__btn {
            padding: 11px 41px 13px;
            @include m.btn-style;
        }

    }
}

/*----------------------------------------------*/
/* Services */
/*----------------------------------------------*/
.services {
    padding: 170px 0;

    .services__header {
        margin: 0 auto 54px;
        text-align: center;

        .services__sub-title {
            margin-bottom: 5px;
            color: v.$text-primary;
            font-family: v.$font-accent;
            font-size: v.$fs-xl;
            font-weight: v.$fw-medium;
            letter-spacing: v.$letter-spacing-wide;
        }

        .services__main-title {
            margin: 0;
            color: v.$card-text-color;
            font-family: v.$text-secondary-family;
            font-size: v.$fs-4xl;
            font-weight: v.$fw-regular;
            letter-spacing: v.$letter-spacing-base;
            line-height: v.$line-height-tight;
        }
    }

    .services__cards {
        display: flex;
        justify-content: center;
        gap: 66px;

        .service-card__decoration {
            margin-left: 15px;
        }

        .service-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 370px;
            height: 551px;
            max-width: 370px;
            max-height: 551px;
            padding: 42px 40px;
            background-color: v.$card-bg-color;
            text-align: center;

            &:first-child {
                .service-card__title {
                    margin: 0 0 36px;
                    transform: translateY(-4px);
                }

                .service-card__btn {
                    margin-top: 14.5px;
                }
            }

            &:nth-child(2) {
                .service-card__title {
                    transform: translateY(11px);
                }
            }

            &:nth-child(3) {
                .service-card__decoration {
                    margin-left: 30px;
                }

                .service-card__title {
                    transform: translateY(4px);
                }
            }
        }

        .service-card__title {
            margin: 0 0 40px;
            color: v.$card-text-color;
            font-family: v.$text-primary-family;
            font-size: 60px;
            font-weight: v.$fw-regular;
            letter-spacing: v.$letter-spacing-base;
        }

        .service-card__price-wrapper {
            margin-bottom: v.$space-l;
            font-family: v.$text-secondary-family;
            line-height: 1.05;
        }

        .service-card__label {
            color: v.$card-text-color;
            font-size: 24px;
            font-weight: v.$fw-regular;
            letter-spacing: v.$letter-spacing-base;
        }

        .service-card__price {
            margin: 0;
            color: v.$card-text-color;
            font-size: v.$fs-3xl;
            font-weight: v.$fw-light;
            letter-spacing: v.$letter-spacing-base;
        }

        .service-card__btn {
            margin-top: v.$space-s;
            padding: 12px 36px;
            @include m.btn-style;
        }
    }
}

/*----------------------------------------------*/
/* Concept Message 02 */
/*----------------------------------------------*/
.concept-message-02 {
    background-color: v.$card-bg-color;
}

.concept-message-02__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 0px;
    align-items: center;
    position: relative;
}

.concept-message-02__image-wrapper {
    overflow: hidden;
}

.concept-message-02__img {
    width: 100%;
    height: auto;
}

.concept-message-02__content-box {
    position: absolute;
    right: 9.8%;
    top: 50%;
    transform: translateY(-50%);
    width: 440px;
    max-width: 440px;
    height: 591px;
    max-height: 591px;
    background: rgba(v.$main-bg-color, 0.9);
    outline: 0.4px solid rgba(#B58B61, 0.6);
    outline-offset: -12px;
    text-align: center;
}

.concept-message-02__box {
    width: 100%;
}

.concept-message-02__quote-icon {
    margin: v.$space-ll auto v.$space-m;
}

.concept-message-02__title {
    margin: 0 0 v.$space-m;
    color: #686868;
    font-family: v.$text-primary-family;
    font-size: v.$fs-3xl;
    font-weight: v.$fw-regular;
    letter-spacing: v.$letter-spacing-base;
    line-height: v.$line-height-tight;
    white-space: nowrap;
}

.concept-message-02__text {
    color: #414141;
    font-family: v.$text-secondary-family;
    font-size: v.$fs-xl;
    font-weight: v.$fw-light;
    line-height: 1.2;
}

/*----------------------------------------------*/
/* Portfolio */
/*----------------------------------------------*/
.portfolio {
    padding: 120px 0;
}

.portfolio__header {
    margin: 0 auto v.$space-3xl;
    text-align: center;

    .portfolio__sub-title {
        margin-bottom: v.$space-xs;
        color: v.$text-primary;
        font-family: v.$font-accent;
        font-size: v.$fs-xl;
        font-weight: v.$fw-medium;
        letter-spacing: v.$letter-spacing-wide;
    }

    .portfolio__main-title {
        margin: 0;
        color: v.$card-text-color;
        font-family: v.$text-secondary-family;
        font-size: v.$fs-4xl;
        font-weight: v.$fw-regular;
        letter-spacing: v.$letter-spacing-base;
        line-height: 1.1;
    }
}

.portfolio__content-wrapper {
    display: flex;

    .portfolio__text-box {
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 562px;
        max-width: 562px;
        height: 323px;
        max-height: 323px;
        padding: 0px v.$space-xl 70px 105px;
        background-color: v.$card-bg-color;
        white-space: nowrap;

        .portfolio__number {
            display: inline-block;
            margin: 0 0 v.$space-s;
            color: #B58B61;
            font-family: "Cormorant", serif;
            font-size: v.$fs-5xl;
            font-weight: v.$fw-semibold;
            letter-spacing: v.$letter-spacing-base;
            line-height: 0.65;
        }

        .portfolio__story-title {
            margin: 0;
            color: #555555;
            font-family: v.$text-primary-family;
            font-size: 46px;
            font-weight: v.$fw-regular;
            letter-spacing: v.$letter-spacing-base;
            line-height: v.$line-height-tight;
        }

        .portfolio__description {
            margin: 0;
            color: #2D2D2D;
            font-family: v.$text-secondary-family;
            font-size: v.$fs-xl;
            font-weight: v.$fw-light;
            line-height: v.$line-height-tight;
        }
    }

    .portfolio__images {
        display: flex;
        gap: 37px;
        object-fit: cover;

        .portfolio__img {
            &:first-child {
                width: 394px;
                height: 470px;
            }

            &:last-child {
                margin-right: 72px;
                width: 373px;
                height: 470px;
            }
        }
    }
}

.portfolio__btn-wrapper {
    margin: 59px 72px 0 0;
    text-align: right;

    .portfolio__btn {
        display: inline-block;
        @include m.btn-style;
        padding: 12px 26px;
        border: none;
        color: #555555;
        font-weight: v.$fw-light;
        text-align: center;
        white-space: nowrap;
    }
}