/*----------------------------------------------*/
/* Space */
/*----------------------------------------------*/
/*----------------------------------------------*/
/* color */
/*----------------------------------------------*/
/*----------------------------------------------*/
/* font-family */
/*----------------------------------------------*/
/*----------------------------------------------*/
/* font-size */
/*----------------------------------------------*/
/*----------------------------------------------*/
/* font-weight */
/*----------------------------------------------*/
/*----------------------------------------------*/
/* text-indent */
/*----------------------------------------------*/
/*----------------------------------------------*/
/* letter-spacing */
/*----------------------------------------------*/
/*----------------------------------------------*/
/* line-height */
/*----------------------------------------------*/
/*----------------------------------------------*/
/* Breakpoint */
/*----------------------------------------------*/
/*----------------------------------------------*/
/* Design */
/*----------------------------------------------*/
/*----------------------------------------------*/
/* Hover Device */
/*----------------------------------------------*/
/*----------------------------------------------*/
/* Media Queries */
/*----------------------------------------------*/
/*----------------------------------------------*/
/* Body */
/*----------------------------------------------*/
body {
  background-color: #FFFFFF;
}
body.is-open {
  overflow: hidden;
}
body.is-open #overlay {
  background: rgba(0, 0, 0, 0.5);
  pointer-events: auto;
}

/*----------------------------------------------*/
/* Hero */
/*----------------------------------------------*/
header {
  width: 100%;
  min-height: max(200px, min(63.4027777778vw, 100vh));
  position: relative;
  background: url("../images/hero-image.jpg") center/cover no-repeat;
}

.p-gnav {
  min-height: 109px;
  padding: 0 114px 0 104px;
  background: rgba(245, 245, 245, 0.8);
}
@media (width < 1440px) {
  .p-gnav {
    padding-right: clamp(38px, 3.83vw, 114px);
    padding-left: clamp(34.6px, 3.494vw, 104px);
  }
}
@media (width < 992px) {
  .p-gnav {
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 100;
    width: 260px;
    height: 100vh;
    padding: 0;
    background-color: #2e2520;
    transition: right 0.45s cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
  }
}
.p-gnav.is-open {
  pointer-events: auto;
  right: 0;
}
.p-gnav.is-open .p-gnav__left-items .p-gnav__item {
  opacity: 1;
  transform: translateX(0);
}
.p-gnav.is-open .p-gnav__right-items .p-gnav__item {
  opacity: 1;
  transform: translateX(0);
}

.p-gnav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media (width > 1440px) {
  .p-gnav__container {
    justify-content: space-around;
  }
}
@media (width < 992px) {
  .p-gnav__container {
    flex-direction: column;
    align-items: stretch;
    padding: 40px 0 32px;
  }
}

.p-gnav--sp-header {
  display: none;
  padding: 56px 16px 10px;
  border-bottom: 0.5px solid rgba(200, 168, 130, 0.2);
}
@media (width < 992px) {
  .p-gnav--sp-header {
    display: block;
  }
}

.p-gnav--sp-logo {
  display: none;
}
@media (width < 992px) {
  .p-gnav--sp-logo {
    display: block;
  }
}
@media (width < 992px) {
  .p-gnav--sp-logo .p-gnav--sp-logo__img {
    filter: invert(72%) sepia(30%) saturate(400%) hue-rotate(5deg);
  }
}

.p-gnav__left-items {
  display: flex;
  gap: 67px;
}
@media (width > 1440px) {
  .p-gnav__left-items {
    gap: clamp(67px, 4.7vw, 120px);
  }
}
@media (width < 1440px) {
  .p-gnav__left-items {
    gap: clamp(30px, -3.246rem + 8.259vw, 67px);
  }
}
@media (width < 992px) {
  .p-gnav__left-items {
    flex-direction: column;
    gap: 0;
  }
}

.p-logo {
  flex-shrink: 0;
  margin: 8px 0px 0 30px;
}
@media (width < 992px) {
  .p-logo {
    display: none;
  }
}
.p-logo .p-logo__img {
  height: 101px;
  width: 279px;
}

.p-gnav__right-items {
  display: flex;
  justify-content: flex-end;
  gap: 54px;
}
@media (width > 1440px) {
  .p-gnav__right-items {
    gap: clamp(67px, 4.7vw, 120px);
  }
}
@media (width < 1440px) {
  .p-gnav__right-items {
    gap: clamp(1.625rem, -2.25rem + 6.25vw, 3.375rem);
  }
}
@media (width < 992px) {
  .p-gnav__right-items {
    flex-direction: column;
    gap: 0;
  }
}

.p-gnav__item {
  padding: 0 0px 8px 0;
  color: #363636;
  font-family: "Playfair Display SC", serif;
  font-size: 1.375rem;
  font-weight: 400;
  letter-spacing: 0.05em;
}
@media (width < 1440px) {
  .p-gnav__item {
    font-size: clamp(0.938rem, 0.813rem + 0.625vw, 1.375rem);
  }
}
@media (width < 992px) {
  .p-gnav__item {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 16px 30px;
    color: #f0e8df;
    transform: translateX(24px);
    transition: opacity 0.35s ease, transform 0.35s ease;
  }
  .p-gnav__item::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #c8a882;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-sparkle-icon lucide-sparkle'%3E%3Cpath d='M11.017 2.814a1 1 0 0 1 1.966 0l1.051 5.558a2 2 0 0 0 1.594 1.594l5.558 1.051a1 1 0 0 1 0 1.966l-5.558 1.051a2 2 0 0 0-1.594 1.594l-1.051 5.558a1 1 0 0 1-1.966 0l-1.051-5.558a2 2 0 0 0-1.594-1.594l-5.558-1.051a1 1 0 0 1 0-1.966l5.558-1.051a2 2 0 0 0 1.594-1.594z'/%3E%3C/svg%3E");
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-sparkle-icon lucide-sparkle'%3E%3Cpath d='M11.017 2.814a1 1 0 0 1 1.966 0l1.051 5.558a2 2 0 0 0 1.594 1.594l5.558 1.051a1 1 0 0 1 0 1.966l-5.558 1.051a2 2 0 0 0-1.594 1.594l-1.051 5.558a1 1 0 0 1-1.966 0l-1.051-5.558a2 2 0 0 0-1.594-1.594l-5.558-1.051a1 1 0 0 1 0-1.966l5.558-1.051a2 2 0 0 0 1.594-1.594z'/%3E%3C/svg%3E");
    -webkit-mask-size: contain;
  }
}
@media (width < 992px) and (width < 576px) {
  .p-gnav__item::before {
    width: 18px;
    height: 18px;
  }
}
@media (width < 992px) {
  .p-gnav__item a {
    width: 100%;
  }
}

.ham-btn {
  display: none;
}
@media (width < 992px) {
  .ham-btn {
    display: block;
    position: fixed;
    top: 24px;
    right: 40px;
    z-index: 100;
  }
}
@media (width < 992px) and (width < 576px) {
  .ham-btn {
    top: 16px;
    right: 24px;
  }
}
.ham-btn.is-open .ham-btn--open {
  display: none;
}
.ham-btn.is-open .ham-btn--close {
  display: block;
}
.ham-btn .ham-btn--open {
  width: 40px;
  height: 40px;
  stroke: #363636;
  stroke-width: 1;
}
@media (width < 576px) {
  .ham-btn .ham-btn--open {
    width: 30px;
    height: 30px;
  }
}
.ham-btn .ham-btn--close {
  display: none;
  width: 34px;
  height: 34px;
  stroke-width: 1;
  color: #f0e8df;
}
@media (width < 576px) {
  .ham-btn .ham-btn--close {
    width: 24px;
    height: 24px;
  }
}

#overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
  transition: background 0.4s ease;
  z-index: 10;
}

.hero__titles {
  position: absolute;
  top: 49.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-align: center;
}
.hero__titles .hero__catch {
  color: #BBA085;
  font-family: "Ephesis", cursive;
  font-size: 4rem;
  font-weight: 400;
  text-indent: 0.05em;
  letter-spacing: 0.05em;
  -webkit-text-stroke: 1.5px #BBA085;
  paint-order: stroke fill;
}
@media (width > 1440px) {
  .hero__titles .hero__catch {
    font-size: clamp(4rem, 2.714rem + 1.429vw, 5rem);
  }
}
@media (width < 1440px) {
  .hero__titles .hero__catch {
    font-size: clamp(1.25rem, 0.464rem + 3.929vw, 4rem);
  }
}
@media (width < 576px) {
  .hero__titles .hero__catch {
    -webkit-text-stroke-width: 1px;
  }
}
.hero__titles .hero__title {
  color: #FFFFFF;
  font-family: "Cormorant Garamond", serif;
  font-size: 5rem;
  font-weight: 600;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(5px);
}
@media (width > 1440px) {
  .hero__titles .hero__title {
    font-size: clamp(5rem, 3.75vw, 6rem);
  }
}
@media (width < 1440px) {
  .hero__titles .hero__title {
    font-size: clamp(1.5rem, 0.5rem + 5vw, 5rem);
  }
}

/*----------------------------------------------*/
/* Concept Message 01 */
/*----------------------------------------------*/
.concept-message {
  padding: 100px 0 97px;
  background-color: #F4F4F4;
}
@media (width < 1440px) {
  .concept-message {
    padding-block: clamp(1.375rem, -0.018rem + 6.964vw, 6.25rem);
  }
}
.concept-message .concept-message__content-box {
  padding-inline: 24px;
  text-align: center;
}
.concept-message .concept-message__content-box .concept-message__img {
  display: inline-block;
  margin-bottom: 1.5rem;
}
@media (width > 1440px) {
  .concept-message .concept-message__content-box .concept-message__img {
    width: clamp(4.438rem, 2.83rem + 1.786vw, 5.688rem);
    height: auto;
  }
}
@media (width < 1440px) {
  .concept-message .concept-message__content-box .concept-message__img {
    width: clamp(2.563rem, 2.027rem + 2.679vw, 4.438rem);
  }
}
.concept-message .concept-message__content-box .concept-message__catch {
  margin-bottom: 2rem;
  color: #BBA085;
  font-family: "Raleway", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  text-indent: 0.2em;
  letter-spacing: 0.2em;
}
@media (width > 1440px) {
  .concept-message .concept-message__content-box .concept-message__catch {
    font-size: clamp(1.75rem, 1.107rem + 0.714vw, 2.25rem);
  }
}
@media (width < 1440px) {
  .concept-message .concept-message__content-box .concept-message__catch {
    margin-bottom: clamp(1rem, 0.714rem + 1.429vw, 2rem);
    font-size: clamp(0.813rem, 0.545rem + 1.339vw, 1.75rem);
  }
}
.concept-message .concept-message__content-box .concept-message__title {
  margin-bottom: 1.5rem;
  color: #4F4F4F;
  font-family: "Cormorant Garamond", serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2;
}
@media (width > 1440px) {
  .concept-message .concept-message__content-box .concept-message__title {
    font-size: clamp(4rem, 3.357rem + 0.714vw, 72px);
  }
}
@media (width < 1440px) {
  .concept-message .concept-message__content-box .concept-message__title {
    font-size: clamp(1.75rem, 1.107rem + 3.214vw, 4rem);
  }
}

/*----------------------------------------------*/
/* About */
/*----------------------------------------------*/
.about-wrapper {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 858px;
  max-height: 858px;
}
@media (width < 1440px) {
  .about-wrapper {
    flex-wrap: wrap;
  }
}
.about-wrapper .about__img-wrapper {
  width: 692px;
  height: 100%;
  overflow: hidden;
}
.about-wrapper .about__img-wrapper .about__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
}
.about-wrapper .about__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 70px 35px 0px 0px;
}
@media (width < 1440px) {
  .about-wrapper .about__content {
    flex: none;
  }
}
.about-wrapper .about__content .about__content-top {
  flex: 1;
  text-align: center;
}
.about-wrapper .about__content .about_decoration-01 {
  display: inline-block;
  margin: 0 0 40px 35px;
}
.about-wrapper .about__content .about__title {
  margin-bottom: 23px;
  color: #4A4A4A;
  font-family: "Cormorant Garamond", serif;
  font-size: 48px;
  font-weight: 400;
}
@media (width < 1440px) {
  .about-wrapper .about__content .about__title {
    font-size: clamp(1.5rem, 1.071rem + 2.143vw, 3rem);
  }
}
.about-wrapper .about__content .about__text-group {
  color: #2D2D2D;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.75rem;
  font-weight: 400;
}
@media (width < 1440px) {
  .about-wrapper .about__content .about__text-group {
    font-size: clamp(1rem, 0.786rem + 1.071vw, 1.75rem);
  }
}
.about-wrapper .about__content .about__text-group .about__text-group-01 {
  margin-bottom: 33px;
  line-height: 1.23;
}
.about-wrapper .about__content .about__text-group .about__text-group-02 {
  margin-bottom: 44px;
  line-height: 1.22;
}
.about-wrapper .about__content .about_decoration-02 {
  display: inline-block;
  margin-bottom: 42px;
}
.about-wrapper .about__content .about__signature {
  color: #545454;
  font-family: "Ephesis", cursive;
  font-size: 3.75rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-indent: 0.07em;
}
@media (width < 1440px) {
  .about-wrapper .about__content .about__signature {
    font-size: clamp(2.25rem, 1.821rem + 2.143vw, 3.75rem);
  }
}
.about-wrapper .about__content .about__btn {
  margin-left: 15px;
  margin-top: 5px;
  padding: 12px 39px 12px 42px;
  background-color: #E9E1D9;
  border: 2px solid #E9E1D9;
  color: #484848;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.75rem;
  font-weight: 400;
  transition: background-color 0.25s ease, color 0.25s ease;
}
@media (hover: hover) {
  .about-wrapper .about__content .about__btn:hover:hover {
    background-color: transparent;
    color: #484848;
  }
}
@media (width < 1440px) {
  .about-wrapper .about__content .about__btn {
    font-size: clamp(0.875rem, 0.625rem + 1.25vw, 1.75rem);
  }
}

/*----------------------------------------------*/
/* Services */
/*----------------------------------------------*/
.services {
  padding: 170px 0 183px;
}
.services .services__header {
  margin: 0 auto 54px;
  text-align: center;
}
.services .services__header .services__sub-title {
  margin-bottom: 5px;
  color: #BBA085;
  font-family: "Raleway", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  text-indent: 0.2em;
  letter-spacing: 0.2em;
}
.services .services__header .services__main-title {
  margin: 0;
  color: #5B5B5B;
  font-family: "Cormorant Garamond", serif;
  font-size: 4rem;
  font-weight: 400;
  text-indent: 0.05em;
  letter-spacing: 0.05em;
  line-height: 1.3;
}
.services .services__cards {
  display: flex;
  justify-content: center;
  gap: 66px;
}
@media (width < 1440px) {
  .services .services__cards {
    flex-wrap: wrap;
  }
}
.services .services__cards .service-card__decoration {
  margin-left: 15px;
}
.services .services__cards .service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  height: 551px;
  max-width: 370px;
  max-height: 551px;
  padding: 42px 40px;
  background-color: #F8F8F8;
  text-align: center;
}
.services .services__cards .service-card:first-child .service-card__title {
  margin: 0 0 36px;
  transform: translateY(-4px);
}
.services .services__cards .service-card:first-child .service-card__price {
  font-size: 3.125rem;
}
.services .services__cards .service-card:first-child .service-card__btn {
  margin-top: 14.5px;
}
.services .services__cards .service-card:nth-child(2) .service-card__title {
  transform: translateY(13px);
}
.services .services__cards .service-card:nth-child(2) .service-card__price {
  font-size: 48px;
}
.services .services__cards .service-card:nth-child(3) .service-card__decoration {
  margin-left: 30px;
}
.services .services__cards .service-card:nth-child(3) .service-card__title {
  margin-bottom: 42px;
  transform: translateY(4px);
}
.services .services__cards .service-card:nth-child(3) .service-card__price {
  font-size: 48px;
}
.services .services__cards .service-card__title {
  margin: 0 0 40px;
  color: #5B5B5B;
  font-family: "Ephesis", cursive;
  font-size: 60px;
  font-weight: 400;
  text-indent: 0.05em;
  letter-spacing: 0.05em;
}
.services .services__cards .service-card__price-wrapper {
  margin-bottom: 2rem;
  font-family: "Cormorant Garamond", serif;
  line-height: 1.05;
}
.services .services__cards .service-card__label {
  color: #5B5B5B;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.05em;
}
.services .services__cards .service-card__price {
  margin: 0;
  color: #5B5B5B;
  font-weight: 300;
  text-indent: 0.05em;
  letter-spacing: 0.05em;
}
.services .services__cards .service-card__btn {
  margin-top: 1rem;
  padding: 12px 36px;
  background-color: #E9E1D9;
  border: 2px solid #E9E1D9;
  color: #484848;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.75rem;
  font-weight: 400;
  transition: background-color 0.25s ease, color 0.25s ease;
}
@media (hover: hover) {
  .services .services__cards .service-card__btn:hover:hover {
    background-color: transparent;
    color: #484848;
  }
}

/*----------------------------------------------*/
/* Concept Message 02 */
/*----------------------------------------------*/
.concept-message-02 {
  background-color: #F8F8F8;
}
.concept-message-02 .concept-message-02__container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 0px;
  align-items: center;
  position: relative;
}
.concept-message-02 .concept-message-02__container .concept-message-02__image-wrapper {
  overflow: hidden;
}
.concept-message-02 .concept-message-02__container .concept-message-02__image-wrapper .concept-message-02__img {
  width: 100%;
  height: auto;
}
.concept-message-02 .concept-message-02__container .concept-message-02__content-box {
  position: absolute;
  right: 9.8%;
  top: 50%;
  transform: translateY(-50%);
  width: 440px;
  max-width: 440px;
  height: 591px;
  max-height: 591px;
  background: rgba(255, 255, 255, 0.9);
  outline: 0.4px solid rgba(181, 139, 97, 0.6);
  outline-offset: -12px;
  text-align: center;
}
.concept-message-02 .concept-message-02__container .concept-message-02__content-box .concept-message-02__box {
  width: 100%;
}
.concept-message-02 .concept-message-02__container .concept-message-02__content-box .concept-message-02__decoration {
  margin: 38px auto 1.5rem;
  padding-left: 30px;
}
.concept-message-02 .concept-message-02__container .concept-message-02__content-box .concept-message-02__title {
  margin: 0 0 25.5px;
  padding-left: 0.065em;
  color: #686868;
  font-family: "Ephesis", cursive;
  font-size: 3.125rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.31;
  white-space: nowrap;
}
.concept-message-02 .concept-message-02__container .concept-message-02__content-box .concept-message-02__text {
  padding-left: 0.1em;
  color: #414141;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 1.2;
}

/*----------------------------------------------*/
/* Portfolio */
/*----------------------------------------------*/
.portfolio {
  padding: 104px 0 53px;
}
@media (width < 992px) {
  .portfolio {
    padding-inline: 30px;
  }
}
.portfolio .portfolio__header {
  margin: 0 auto 58px;
  text-align: center;
}
.portfolio .portfolio__header .portfolio__sub-title {
  margin-bottom: 0.5rem;
  color: #BBA085;
  font-family: "Raleway", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  text-indent: 0.74em;
  letter-spacing: 0.2em;
}
.portfolio .portfolio__header .portfolio__main-title {
  margin: 0;
  color: #5B5B5B;
  font-family: "Cormorant Garamond", serif;
  font-size: 4rem;
  font-weight: 400;
  text-indent: 0.33em;
  letter-spacing: 0.05em;
  line-height: 1.1;
}
.portfolio .portfolio__content-wrapper {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}
@media (width > 1440px) {
  .portfolio .portfolio__content-wrapper {
    justify-content: center;
  }
}
@media (width < 1440px) {
  .portfolio .portfolio__content-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.portfolio .portfolio__content-wrapper .portfolio__text-box {
  align-self: flex-end;
  width: 562px;
  height: 323px;
  max-height: 323px;
  padding: 0px 45px 70px 106px;
  text-align: left;
  background-color: #F8F8F8;
  white-space: nowrap;
}
@media (width < 1440px) {
  .portfolio .portfolio__content-wrapper .portfolio__text-box {
    width: 100%;
  }
}
@media (width < 768px) {
  .portfolio .portfolio__content-wrapper .portfolio__text-box {
    padding: 0px 22.5px 35px 53px;
  }
}
.portfolio .portfolio__content-wrapper .portfolio__text-box .portfolio__number {
  display: inline-block;
  margin: 0 0 23px;
  color: #B58B61;
  font-family: "Cormorant", serif;
  font-size: 7.5rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 0.5;
}
.portfolio .portfolio__content-wrapper .portfolio__text-box .portfolio__story-title {
  margin: 0 0 0px;
  color: #555555;
  font-family: "Ephesis", cursive;
  font-size: 46px;
  font-weight: 400;
  letter-spacing: 0.05em;
}
@media (width < 576px) {
  .portfolio .portfolio__content-wrapper .portfolio__text-box .portfolio__story-title {
    font-size: clamp(2.5rem, 2.031rem + 2.344vw, 2.875rem);
  }
}
.portfolio .portfolio__content-wrapper .portfolio__text-box .portfolio__description {
  margin: 0;
  color: #2D2D2D;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 1.22;
}
@media (width < 576px) {
  .portfolio .portfolio__content-wrapper .portfolio__text-box .portfolio__description {
    font-size: clamp(1.25rem, 1.107rem + 0.714vw, 1.75rem);
  }
}
.portfolio .portfolio__content-wrapper .portfolio__text-box .portfolio__description .portfolio__br--block-sp {
  display: none;
}
@media (width < 576px) {
  .portfolio .portfolio__content-wrapper .portfolio__text-box .portfolio__description .portfolio__br--block-sp {
    display: block;
  }
}
.portfolio .portfolio__content-wrapper .portfolio__images {
  justify-content: center;
  display: flex;
  gap: 37px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (width < 992px) {
  .portfolio .portfolio__content-wrapper .portfolio__images {
    flex-wrap: wrap;
  }
}
.portfolio .portfolio__content-wrapper .portfolio__images .portfolio__img:first-child {
  width: 394px;
  height: 470px;
}
.portfolio .portfolio__content-wrapper .portfolio__images .portfolio__img:last-child {
  margin-right: 72px;
  width: 373px;
  height: 470px;
}
@media (width < 1440px) {
  .portfolio .portfolio__content-wrapper .portfolio__images .portfolio__img:last-child {
    margin-right: 0px;
  }
}
@media (width < 992px) {
  .portfolio .portfolio__content-wrapper .portfolio__images .portfolio__img:first-child, .portfolio .portfolio__content-wrapper .portfolio__images .portfolio__img:last-child {
    width: 100%;
    height: auto;
  }
}
.portfolio .portfolio__btn-wrapper {
  margin: 59px 72px 0 0;
  text-align: right;
}
.portfolio .portfolio__btn-wrapper .portfolio__btn {
  display: inline-block;
  background-color: #E9E1D9;
  border: 2px solid #E9E1D9;
  color: #484848;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.75rem;
  font-weight: 400;
  transition: background-color 0.25s ease, color 0.25s ease;
}
@media (hover: hover) {
  .portfolio .portfolio__btn-wrapper .portfolio__btn:hover:hover {
    background-color: transparent;
    color: #484848;
  }
}
.portfolio .portfolio__btn-wrapper .portfolio__btn {
  padding: 12px 28px 12px 26px;
  border: none;
  color: #555555;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
}

/*----------------------------------------------*/
/* Testimonials */
/*----------------------------------------------*/
.testimonials {
  background-color: #F8F8F8;
}
.testimonials .testimonials__title-container {
  margin: 0 auto;
  padding-bottom: 0.5rem;
  background-color: #FFFFFF;
  text-align: center;
}
.testimonials .testimonials__title-container .testimonials__title {
  color: #555555;
  font-family: "Ephesis", cursive;
  font-size: 70px;
  font-weight: 400;
  text-indent: 0.27em;
  letter-spacing: 0.05em;
}
.testimonials .testimonials__container {
  margin: 0 auto;
  padding: 78px 0px;
  background-color: #F8F8F8;
  text-align: center;
}
.testimonials .testimonials__container .testimonials__content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 450px;
}
.testimonials .testimonials__container .testimonials__content .testimonials__arrow {
  width: 39px;
  height: 57px;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: #E9E1D9;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
@media (hover: hover) {
  .testimonials .testimonials__container .testimonials__content .testimonials__arrow:hover {
    background-color: #E0D9D3;
  }
}
.testimonials .testimonials__container .testimonials__content .testimonials__arrow.testimonials__arrow--prev {
  margin-left: 10px;
}
.testimonials .testimonials__container .testimonials__content .testimonials__card {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 450px;
  width: 100%;
  height: 100%;
  margin-right: 47px;
  padding: 163px 20px 0 25px;
  background-color: #FFFFFF;
  box-shadow: inset 0 0 0 2px #E9E1D9;
  text-align: center;
}
.testimonials .testimonials__container .testimonials__content .testimonials__card .testimonials__quote {
  position: absolute;
  top: 57px;
  left: 50.5%;
  transform: translateX(-50%);
  color: #E9E1D9;
  font-family: "Forum", serif;
  font-size: 200px;
  font-weight: 400;
  -webkit-text-stroke: 3.2px #E9E1D9;
  paint-order: stroke fill;
  line-height: 1;
}
.testimonials .testimonials__container .testimonials__content .testimonials__card .testimonials__message {
  margin-bottom: 74px;
  color: #4F4F4F;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.23;
}
.testimonials .testimonials__container .testimonials__content .testimonials__card .testimonials__name {
  margin: 0;
  color: #414141;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.75rem;
  font-weight: 300;
  text-transform: uppercase;
}
.testimonials .testimonials__container .testimonials__content .testimonials__image-wrapper {
  flex: 1;
  max-width: 450px;
  width: 100%;
  height: 100%;
  margin-right: 25px;
  overflow: hidden;
}
.testimonials .testimonials__container .testimonials__content .testimonials__image-wrapper .testimonials__image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*----------------------------------------------*/
/* Achievements */
/*----------------------------------------------*/
.stats {
  background-color: #FFFFFF;
  padding: 100px 0 65px;
}
.stats .stats__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
  text-align: center;
}
.stats .stats__container .stats__lead {
  margin: 0 26px 3rem 0;
  color: #000000;
  font-family: "Cormorant Garamond", serif;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.2;
}
.stats .stats__container .stats__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
}
@media (width < 992px) {
  .stats .stats__container .stats__list {
    flex-wrap: wrap;
  }
}
.stats .stats__container .stats__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.stats .stats__container .stats__item:nth-child(2) .stats__label {
  transform: translateX(4px);
}
.stats .stats__container .stats__number {
  display: block;
  color: #BBA085;
  font-family: "Playfair Display SC", serif;
  font-size: 128px;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1;
}
.stats .stats__container .stats__number .stats__number--small {
  font-size: 6rem;
}
.stats .stats__container .stats__number.stats__number--offset {
  transform: translate(4.5px, 10px);
}
.stats .stats__container .stats__label {
  margin: 0;
  color: #535353;
  font-family: "Ephesis", cursive;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.25;
  white-space: nowrap;
  transform: translateX(-2px);
}

/*----------------------------------------------*/
/* Contact */
/*----------------------------------------------*/
.contact {
  background-color: #FFFFFF;
  padding: 65px 0 109px;
}

.contact__container {
  display: flex;
  width: 1260px;
  height: 815px;
  margin: 0 98px 0 auto;
}
@media (width > 1440px) {
  .contact__container {
    margin: 0 auto;
  }
}
@media (width < 1440px) {
  .contact__container {
    margin: 0 auto;
    height: auto;
    width: 100%;
  }
}
.contact__container .contact__form {
  flex: 0 0 655px;
  padding: 70px 60px;
  display: flex;
  flex-direction: column;
  background-color: #F8F8F8;
}
@media (width < 1440px) {
  .contact__container .contact__form {
    flex: 1;
    width: 100%;
    padding: 60px 40px;
  }
}
.contact__container .contact__form .contact__subtitle {
  margin-bottom: 0px;
  color: #BBA085;
  font-family: "Raleway", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: 0.2em;
}
.contact__container .contact__form .contact__title {
  margin-bottom: 102px;
  color: #5B5B5B;
  font-family: "Cormorant Garamond", serif;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.35;
}
.contact__container .contact__form .contact__field {
  margin-bottom: 28px;
}
.contact__container .contact__form .contact__field:nth-child(2) {
  margin-bottom: 39px;
}
.contact__container .contact__form .contact__field:nth-child(2) .contact__label {
  margin-bottom: -15px;
}
.contact__container .contact__form .contact__field:nth-child(3) {
  margin-bottom: 1.5rem;
}
.contact__container .contact__form .contact__label {
  display: block;
  margin-bottom: -20px;
  color: #2D2D2D;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.75rem;
  font-weight: 300;
}
.contact__container .contact__form .contact__input,
.contact__container .contact__form .contact__textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #C6C6C6;
  background-color: transparent;
  outline: none;
}
.contact__container .contact__form .contact__input:focus,
.contact__container .contact__form .contact__textarea:focus {
  border-bottom-color: #BBA085;
}
.contact__container .contact__form .contact__textarea {
  resize: vertical;
  min-height: 124px;
}
.contact__container .contact__form .contact__button {
  background-color: #E9E1D9;
  border: 2px solid #E9E1D9;
  color: #484848;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.75rem;
  font-weight: 400;
  transition: background-color 0.25s ease, color 0.25s ease;
}
@media (hover: hover) {
  .contact__container .contact__form .contact__button:hover:hover {
    background-color: transparent;
    color: #484848;
  }
}
.contact__container .contact__form .contact__button {
  padding: 0.5rem 66px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  border: none;
  color: #505050;
}
.contact__container .contact__image {
  flex: 1;
  overflow: hidden;
}
.contact__container .contact__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*----------------------------------------------*/
/* Footer */
/*----------------------------------------------*/
.footer__container {
  height: 398px;
  background-color: #F8F8F8;
  padding: 0px 0 60px;
  text-align: center;
}
.footer__container .p-gnav {
  padding: 0 108px 0 111px;
}
@media (width < 1440px) {
  .footer__container .p-gnav {
    padding-right: clamp(36px, 3.629vw, 108px);
    padding-left: clamp(37px, 3.729vw, 111px);
  }
}
.footer__container .p-gnav__container {
  margin-bottom: 33px;
}
.footer__container .footer__description {
  margin: 0 auto 44px;
  max-width: 800px;
}
.footer__container .footer__description .footer__description-body {
  margin: 0;
  color: #2D2D2D;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 1.22;
}
.footer__container .footer__social-links {
  display: flex;
  justify-content: center;
  gap: 16.5px;
  margin-bottom: 24px;
}
.footer__container .footer__social-links .footer__social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: opacity 0.3s ease;
}
@media (hover: hover) {
  .footer__container .footer__social-links .footer__social-icon:hover:hover {
    opacity: 0.7;
  }
}
.footer__container .footer__copyright {
  color: #2D2D2D;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.25rem;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */